@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
input {
    width: 12rem;
    height: 2rem;
    font-size: 1.3rem;
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    background-color: #f2f2f2;
    border: .15rem solid black;
    padding-left: .5rem;
}

button {
    width: 6rem;
    height: 2.2rem;
    font-size: 1.3rem;
    border-radius: 10px; 
    font-family: 'Open Sans', sans-serif;
    border: .15rem  solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover {
    background-color: rgb(8, 8, 223);
    
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 1rem;
    background-color: #f2f2f2;
    padding: 1rem;
   border-radius: 2rem;

}