

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


* {
  padding: 0;
  margin: 0;
}

html,
body {
  background: #2980b9; 
  background: -webkit-linear-gradient(to bottom, #2980b9, #6dd5fa, #ffffff);
  background: linear-gradient(to bottom, #2980b9, #6dd5fa, #ffffff); 
  font-family:  'Open Sans', sans-serif;

}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

.weater-container {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  max-width: 800px;
  min-height: 500px;
  background-color: #d0d0d5;
  padding: 25px;
  margin: 10px;
  border-radius: 26px;

}